<link rel="stylesheet" type="text/css" href="./view/index/css/wx-detail.css">
<div class="game-box">

    <div class="game-show">
        <div class="container">
            <div class="row">
                <div class="logo-more-game"></div>
                <ul>
                    <li><img src="./view/index/image/game-image1.png" alt=""></li>
                    <li><img src="./view/index/image/game-image2.png" alt=""></li>
                </ul>
                <div class="logo-look-more"></div>
            </div>
        </div>
    </div>

    <div class="wx-detail">
        <div class="container">
            <div class="row">
                <ul>
                    <li>
                        <dt>关于我们</dt>
                        <dd>浙江微宣信息科技有限公司，微宣科技是一家基于互联网、电视游戏、手机游戏为一体的内容服务提供商,其核心团队成立于2013年，位于杭州市滨江高新区；计划在未来5年内，将公司发展为含电视游戏、手机游戏、手游娱乐、终端应用、游戏动漫、SNS社区家园一体化综合性数字娱乐公司</dd>
                    </li>
                    <li>
                        <dt>服务项目</dt>
                        <dd>
                            游戏研发<br/>
                            拥有成熟的产品开发团队，自主研发了休闲游戏、益智游戏、棋牌游戏数十款游戏，涵盖了网页游戏、安卓游戏、IPTV游戏多个领域
                        </dd>
                    </li>
                    <li>
                        <dt>游戏展示</dt>
                        <dd>
                            全民捕鱼（话费版)<br/>
                            小鸟情人
                        </dd>
                        <i class="logo-more"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>