<link type="text/css" rel="stylesheet" href="./view/monitoring/css/monitoring.css">
<div class="monitoring">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <ul class="">
                    <li><a ui-sref=".Process" href="javascript:void(0)"><img src="./view/monitoring/image/application-Process.png" alt="申请流程"></a></li>
                    <li><a ui-sref=".guide" href="javascript:void(0)"><img src="./view/monitoring/image/application-guide.png" alt="申请引导"></a></li>
                    <li><a ui-sref=".query" href="javascript:void(0)"><img src="./view/monitoring/image/progress-query.png" alt="进度查询"></a></li>
                    <li><a ui-sref=".serve" href="javascript:void(0)"><img src="./view/monitoring/image/serve-FQA.png" alt="服务FQA"></a></li>
                </ul>
                <div class="network">
                    <img src="./view/monitoring/image/network-shield.png" alt="">
                </div>
                <div class="wacth-gallery">
                    <h4>监护通道</h4>
                    <ul>
                        <li>
                            <article class="wx-message">
                                <p>监护热线：0571-56716339</p>
                                <p>客户电话：0571-56716339</p>
                                <p>传&nbsp;真：0571-56716339</p>
                                <p>邮&nbsp;编：310051</p>
                                <p>邮寄地址：浙江省杭州市滨江区江陵路2028号星耀城一幢24楼浙江微宣信息科技有限公司&nbsp;客服部</p>
                            </article>
                        </li>
                        <li>
                            <h4>申请文档下载</h4>
                            <a href="./build/微宣科技_jzsq.zip" style="text-align: left;">
                                <img src="./view/monitoring/image/sq-dom.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-10">
                <div ui-view class="wacth-box"></div>
            </div>
        </div>
    </div>
</div>